body{
  background-color: beige;
}
.App{
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

.crossed{
  text-decoration: line-through 2px red;
  background-color: rgb(174, 170, 170);
}

ul,li{
list-style-type: none;
padding: 10px;
margin: 0;
font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}

.add{
  margin-top: 5px;
  background-color: forestgreen;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.delete{
  margin-top: 5px;
  background-color: rgb(212, 77, 14);
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

img{
  border-radius: 50%;
}